:root {
  --header-font-size: 1.5rem;
  --header-width: 39.5%;
  --header-margin-left: 50px;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(249, 250, 251);
}

img {
  height: 100vh;
  vertical-align: top;
  width: 50rem;
}


h1, h2, p {
  font-size: var(--header-font-size);
  width: var(--header-width);
  margin-left: var(--header-margin-left);
}

p {
  margin-bottom: 70px;
  font-weight: bold;
}

fieldset {
  border: 1px solid #fffdfd;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

input {
  appearance: none;
  border-radius: 3px;
  height: 30px;
  margin: 10px 0 0 0;
  padding-left: 10px;
}




#top-row-fname input[type="text"],
#top-row-lname input[type="text"] {
  border: 1px solid hwb(0 76% 24%);
}


input:focus {
  background-color: rgb(242, 251, 251);
  box-shadow: 0 0 3px #1670BE;
}


#top-row-fname,
#top-row-lname {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#top-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 90px;
  margin-left: var(--header-margin-left);
}

.main-container {
  display: flex;
}

.content {
  width: auto;
  margin: 125px auto 50px 0;
}

.main-form {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px;
}







